.background{
  background-color: midnightblue;
  width: 100vw;
  height: 100vh;
}
.container{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
h1{
  font-size: 30px;
}
.header{
  width: 80%;
}
.header_form{
  text-align: center;
  margin: 30px;
}
.header_input{
  height: 30px;
  width: 80%;
}
.header_btn{
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  border: solid 2px purple;
  color: purple;
}
.header_btn:hover{
  background-color: purple;
  border: solid 2px white;
  color: white;
}

.todolist{
  text-align: center;
  width: 90%;
  margin: 30px;border-collapse: separate;
  border-spacing: 0px 8px;  
}
.todo_form{
  width: 80%;
}
.edit_btn{
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  border: solid 2px orange;
  color: orange;
}
.edit_btn:hover{
  background-color: orange;
  border: solid 2px white;
  color: white;
}
.delete_btn{
  padding: 8px;
    border-radius: 5px;
    background-color: white;
    border: solid 2px turquoise;
    color: turquoise;
}
.delete_btn:hover{
  background-color: turquoise;
    border: solid 2px turquoise;
    color: white;
}